.ml{
    margin-left: 50px;
    margin-top:70px;
}

.title{
    padding-top:100px;
    color:azure;
    animation: myframe 2s linear 0s infinite alternate;
    text-align: center;
    padding-top: 150px;
    display: flex;
    /* border: 5px solid black;
     */
     
  }
  .title h1{
    border: 1px solid white;
    border-radius: 5px;
    animation-name: myframe;
    animation-duration: 10s;
    /* padding: 10px; */
    margin-left: 450px;
    width: 500px;
    background-color: black;
    

  }
  @keyframes myframe {
    from{
      
      left: 0%;
    }
    to{
      
      left:50%;
    }
    
  }